
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span12">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Trang chủ</a> <span class="divider">/</span></li>
    </ul>
    <div class="well well-small">
        <h2>Đơn hàng của quý khánh đã được ghi nhận. chúng tôi sẽ liên hệ với quý khánh và giao hàng sớm nhất!</h2>
    </div>
</div>

