<link rel="stylesheet" type="text/css" href="~/Content/css/venobox.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/plugin/rs_slider/layers.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/plugin/rs_slider/navigation.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/plugin/rs_slider/settings.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
<div class="prs_title_main_sec_wrapper">
    <div class="prs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="prs_title_heading_wrapper">
                    <h2>MNT Team</h2>
                    <ul>
                        <li>
                            <a href="/Home/Index">Trang chủ</a>
                        </li>
                        <li>&nbsp;&nbsp; >&nbsp;&nbsp; MNT Team</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- prs title wrapper End -->
<!-- prs about presenter wrapper Start -->
<div class="prs_about_presenter_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="prs_heading_section_wrapper">
                    <h2>MNT Team</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="prs_about_pre_left_sec_wrapper">
                    <div class="prs_ap_left_img_wrapper">
                        <img src="~/Content/images/content/Hinhanh/Hutech.jpg" alt="about_img">
                    </div>
                    <div class="prs_ap_left_img_cont_wrapper">
                        <h2>Những điều chúng tôi đã làm</h2>
                        <p>
                            Cùng với sự hướng dẫn nhiệt tình từ các thầy cô khoa Công nghệ thông tin của trường, chúng tôi đã thực hiện những đồ án lớn nhỏ cùng nhau và mỗi thành viên lại có những đồ án cá nhân khác ở mỗi môn học.
                            <br>Những đồ án chúng tôi đã thực hiện:
                        </p>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Chương trình quản lý nhân sự.</li>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Chương trình quản lý khách sạn.</li>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Website bán quần áo DIF shop.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="prs_about_pre_right_sec_wrapper">
                    <div class="prs_about_pre_right_slider_sec_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="~/Content/images/content/Hinhanh/Minh.jpg" alt="about_img">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/content/Hinhanh/Nguyen.jpg" alt="about_img">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/content/Hinhanh/Trang.jpg" alt="about_img">
                            </div>
                        </div>
                    </div>
                    <div class="prs_about_pre_right_slider_sec_cont_wrapper">
                        <h2>Chúng tôi là ai?</h2>
                        <p>
                            Chúng tôi là sinh viên năm cuối khoa Công nghệ thông tin hiện đang theo học tại Trường Đại học Công nghệ Thành phố Hồ Chí Minh.
                            <br>
                            <br>Với sự hướng dẫn của giảng viên, thầy Nguyễn Hoàng Tiến chúng tôi đã lên kế hoạch và thực hiện dự án MNTCinema. Đây là một website cho người dùng có thể tham khảo thông tin phim, xem trailer và đặt vé xem phim. Ngoài ra website của chúng tôi còn có phần đánh giá của khách hàng để người dùng có cái nhìn tổng quan hơn về phim họ muốn xem.
                        </p>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Lâm Xuân Nguyên</li>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Development</li>
                        </ul>
                        <ul class="prs_ap_ul_last">
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Trần Hoàng Minh</li>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Development</li>
                        </ul>
                        <ul class="prs_ap_ul_last">
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Huỳnh Thị Thùy Trang</li>
                            <li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- prs about presenter wrapper End -->
@*<!-- prs videos&photos slider Start -->
    <div class="prs_vp_main_section_wrapper prs_about_vp_main_section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="prs_heading_section_wrapper">
                        <h2>Video & photos</h2>
                    </div>
                </div>
                <div class="prs_vp_main_slider_wrapper">
                    <div class="prs_vp_left_slidebar_wrapper">
                        <div class="wrap-album-slider">
                            <ul class="prs_vp_left_slider">
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp1.jpg" alt="vp_img">	<a href="images/content/vp1.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp2.jpg" alt="vp_img">	<a href="images/content/vp2.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp3.jpg" alt="vp_img">	<a href="images/content/vp3.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp4.jpg" alt="vp_img">	<a href="images/content/vp4.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp5.jpg" alt="vp_img">	<a href="images/content/vp5.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp6.jpg" alt="vp_img">	<a href="images/content/vp6.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prs_vp_center_slidebar_wrapper">
                        <div class="prs_vp_center_slider">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="prs_vp_center_slider_img_wrapper">
                                        <img src="images/content/vp7.jpg" alt="vp_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="prs_vp_center_slider_img_wrapper">
                                        <img src="images/content/vp7.jpg" alt="vp_img">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="prs_vp_center_slider_img_wrapper">
                                        <img src="images/content/vp7.jpg" alt="vp_img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prs_vp_right_slidebar_wrapper">
                        <div class="wrap-album-slider">
                            <ul class="prs_vp_right_slider">
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp6.jpg" alt="vp_img">	<a href="images/content/vp6.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp5.jpg" alt="vp_img">	<a href="images/content/vp5.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp4.jpg" alt="vp_img">	<a href="images/content/vp4.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp3.jpg" alt="vp_img">	<a href="images/content/vp3.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp2.jpg" alt="vp_img">	<a href="images/content/vp2.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                                <li class="album-slider__item prs_vp_hover_overlay">
                                    <figure class="album">
                                        <div class="prs_vp_img_overlay">
                                            <img src="images/content/vp1.jpg" alt="vp_img">	<a href="images/content/vp1.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <!-- End album -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prs videos&photos slider End -->
    <!-- prs about team section Start -->
    <div class="prs_about_team_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="prs_heading_section_wrapper">
                        <h2>Director And Team</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="prs_about_team_first_mem_wrapper">
                        <div class="prs_about_first_mem_img_wrapper">
                            <img src="images/content/about/tm1.jpg" alt="team_img">
                            <div class="prs_at_social_main_wrapper">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="prs_about_first_mem_img_cont_wrapper">
                            <h2><a href="#">Johan Doe</a></h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
                            <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                <div class="prs_about_first_mem_img_wrapper">
                                    <img src="images/content/about/tm2.jpg" alt="team_img">
                                    <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                    <h2><a href="#">akshay h.</a></h2>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
                            <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                <div class="prs_about_first_mem_img_wrapper">
                                    <img src="images/content/about/tm3.jpg" alt="team_img">
                                    <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                    <h2><a href="#">ajay S.</a></h2>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
                            <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2_inner">
                                <div class="prs_about_first_mem_img_wrapper">
                                    <img src="images/content/about/tm4.jpg" alt="team_img">
                                    <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                    <h2><a href="#">Sandy S.</a></h2>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
                            <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2">
                                <div class="prs_about_first_mem_img_wrapper">
                                    <img src="images/content/about/tm5.jpg" alt="team_img">
                                    <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                    <h2><a href="#">Farhan S.</a></h2>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
                            <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2">
                                <div class="prs_about_first_mem_img_wrapper">
                                    <img src="images/content/about/tm6.jpg" alt="team_img">
                                    <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                    <h2><a href="#">Vijay p.</a></h2>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_ap_colum_full">
                            <div class="prs_about_team_first_mem_wrapper prs_about_team_first_mem_wrapper2">
                                <div class="prs_about_first_mem_img_wrapper">
                                    <img src="images/content/about/tm7.jpg" alt="team_img">
                                    <div class="prs_at_social_main_wrapper prs_at_social_inner_main_wrapper">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prs_about_first_mem_img_cont_wrapper prs_about_first_mem_img_cont_inner_wrapper">
                                    <h2><a href="#">ajay S.</a></h2>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="prs_animate_btn1 prs_upcom_main_wrapper prs_ap_btn_wrapper">
                        <ul>
                            <li>
                                <a href="#" class="button button--tamaya prs_upcom_main_btn" data-text="view more"><span>View More</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prs about team section End -->
    <!-- counter section start-->
    <div class="counter_section">
        <section class="counter-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="trucking_counter">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 prs_count_colum1">
                            <div class="con">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <div class="count-description">
                                <span class="timer">2540</span>
                                <h5 class="con1">Sucess Movie</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 prs_count_colum2">
                            <div class="con">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="count-description">
                                <span class="timer">7325</span>
                                <h5 class="con2">Happy Clents</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 prs_count_colum3">
                            <div class="con">
                                <i class="fa fa-snapchat"></i>
                            </div>
                            <div class="count-description">
                                <span class="timer">1924</span>
                                <h5 class="con3">Awards</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 prs_count_colum4">
                            <div class="con">
                                <i class="fa  fa-thumbs-o-up"></i>
                            </div>
                            <div class="count-description">
                                <span class="timer">4275</span>
                                <h5 class="con4">Sucess Movie</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- counter section end-->*@

<script src="~/Content/js/jquery.countTo.js"></script>
<script src="~/Content/js/jquery.inview.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.video.min.js"></script>
<script src="~/Content/js/custom.js"></script>