@using MNTCiname.Models;
@{
    NguoiDung nguoiDung = (NguoiDung)Session["nguoidung"];
}
<link rel="stylesheet" type="text/css" href="~/Content/js/plugin/rs_slider/layers.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/plugin/rs_slider/navigation.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/plugin/rs_slider/settings.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
<div class="prs_contact_form_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="prs_contact_left_wrapper">
                    <h2>Cập Nhật Tài Khoản</h2>
                </div>
                <div class="row">
                    <form action="/Home/ConfirmDoiMK" method="post">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="prs_contact_input_wrapper">
                                @ViewBag.Message
                                <input name="MatKhauCu" type="text" class="require" placeholder="Mật khẩu cũ">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="prs_contact_input_wrapper">
                                @ViewBag.Message
                                <input name="MatKhauMoi" type="text" class="require" placeholder="Mật khẩu mới">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="response"></div>
                            <div class="prs_contact_input_wrapper prs_contact_input_wrapper2">
                                <ul>
                                    <li>
                                        <button type="submit" class="submitForm">Cập Nhập</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="prs_contact_right_section_wrapper">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;facebook.com/presenter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i> &nbsp;&nbsp;&nbsp;twitter.com/presenter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-vimeo"></i> &nbsp;&nbsp;&nbsp;vimeo.com/presenter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i> &nbsp;&nbsp;&nbsp;instagram.com/presenter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play"></i> &nbsp;&nbsp;&nbsp;youtube.com/presenter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- prs contact form wrapper End -->
<!-- prs contact map Start -->
<div class="hs_contact_map_main_wrapper">
    <div id="map"></div>
</div>
<!-- prs contact map End -->
<!-- prs contact info Start -->
<div class="prs_contact_info_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="prs_contact_info_box_wrapper">
                    <div class="prs_contact_info_smallbox">
                        <i class="flaticon-call-answer"></i>
                    </div>
                    <h3>contact</h3>
                    <p>
                        +91-123456789
                        <br>+91-4444-5555
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="prs_contact_info_box_wrapper prs_contact_info_box_wrapper2">
                    <div class="prs_contact_info_smallbox">
                        <i class="flaticon-call-answer"></i>
                    </div>
                    <h3>Location</h3>
                    <p>
                        601 - Ram Nagar , India
                        <br>Omex City 245 , America
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="prs_contact_info_box_wrapper prs_contact_info_box_wrapper2">
                    <div class="prs_contact_info_smallbox">
                        <i class="flaticon-call-answer"></i>
                    </div>
                    <h3>Email</h3>
                    <p>
                        <a href="#">presenter@example.com</a>
                        <br> <a href="#">movie@example.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery.countTo.js"></script>
<script src="~/Content/js/jquery.inview.min.js"></script>
<script src="~/Content/js/jquery.shuffle.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
<script src="~/Content/js/plugin/rs_slider/revolution.extension.video.min.js"></script>
<script src="~/Content/js/contact_form.js"></script>
<script src="~/Content/js/custom.js"></script>
<script>
    function initMap() {
        var uluru = { lat: -36.742775, lng: 174.731559 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            scrollwheel: false,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi2zbxXa0ObGqaSBo5NJMdwLs_xtQ03nI&callback=initMap">
</script>

