
@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("LeftMenu", "Home")
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Quên Mật khẩu</li>
    </ul>
    <hr class="soft" />
    <div class="well">
        @using (Html.BeginForm("Forgotpassword", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <h3 style="text-align:center">Đổi mật khẩu</h3>
            @ViewData["ThongBao2"]
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="Email" name="Email" placeholder="Nhập Email của bạn">
                    @ViewData["ThongBao1"]
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Gửi" class="exclusive shopBtn">
                </div>
            </div>
        }
    </div>
</div>

